@model dbareas.Areas.LOC_Student.Models.MST_StudentModel;
@using System.Data;

<div class="grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Student Detail</h4>

            <form class="forms-sample" asp-action="AddEditMethod" asp-controller="LOC_Student" method="post">
                @Html.HiddenFor(X=>X.StudentID)
                <div class="form-group">
                    <label ol-form-label>Your Name</label>
                    <input type="text" class="form-control" asp-for="StudentName" placeholder="Enter Your Name">
                    <span asp-validation-for="StudentName" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label ol-form-label>Email address</label>
                        <input type="email" class="form-control" asp-for="Email" placeholder="Email">
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label ol-form-label>Password</label>
                        <input type="text" class="form-control" placeholder="Password" asp-for="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label ol-form-label>Address</label>
                    <textarea class="form-control" rows="3" asp-for="Address"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label col-form-label>Gender</label>
                        <select class="form-control" asp-for="Gender">
                            <option Value="Male">Male</option>
                            <option Value="Female">Female</option>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label col-form-label>Select Branch</label>
                        <select class="form-control" asp-for="BranchID"
                                asp-items="@(new SelectList(ViewBag.BranchList,"BranchID","BranchName"))">

                            <option disabled selected>Select Branch</option>
                        </select>
                        <span asp-validation-for="BranchID" class="text-danger"></span>
                    </div>
            <div class="form-outline mb-4">
    <label class="form-label" for="form3Example1q"><span class="text-danger">*</span>Country</label>
    <select class="form-control" asp-for="CountryId" asp-items="@(new SelectList(ViewBag.Country,"CountryId","CountryName"))" onchange="fnonStateChange();">
        <option value="" disabled selected>Select Country</option>
    </select>
    @* <span asp-validation-for="CountryId" class="text-danger"></span> *@
</div>

<div class="form-outline mb-4">
    <label class="form-label" for="form3Example1q"><span class="text-danger">*</span>State</label>
    <select class="form-control" asp-for="StateId" asp-items="@(new SelectList(ViewBag.StateList,"StateId","StateName"))" onchange="fnonCityChange();">
      console.log(StateId); 
       <option value="" disabled selected>Select State</option>
    </select>
    @* <span asp-validation-for="StateId" class="text-danger"></span>*@ 
</div>
<div class="form-outline mb-4">
    <label class="form-label" for="form3Example1q"><span class="text-danger">*</span>State</label>
    <select class="form-control" asp-for="CityID" asp-items="@(new SelectList(ViewBag.CityList,"CityID","CityName"))" >
      console.log(StateId); 
       <option value="" disabled selected>Select State</option>
    </select>
    @* <span asp-validation-for="StateId" class="text-danger"></span>*@ 
</div>
@* <div class="form-outline mb-4">
    <label class="form-label" for="form3Example1q">City</label>
    <select class="form-control" asp-for="CityID" asp-items="@(new SelectList(ViewBag.CityList,"CityId","CityName"))">
        <option value="" disabled selected>Select City</option>
    </select>
</div>  *@
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label col-form-label>Student Mobile Number</label>
                        <input type="text" class="form-control" asp-for="MobileNoStudent">
                        <span asp-validation-for="MobileNoStudent" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label col-form-label>Father Mobile Number</label>
                        <input type="text" class="form-control" asp-for="MobileNoFather">
                        <span asp-validation-for="MobileNoFather" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label col-form-label>Birth Date:</label>
                        <input type="date" class="form-control" asp-for="BirthDate" name="birthdate">
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label col-form-label>IsActive</label>
                        <select asp-for="IsActive" class="form-control">
                            <option Value="True">True</option>
                            <option Value="False">False</option>
                        </select>
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4">
                        <label col-form-label>Age</label>
                        <input type="text" class="form-control" asp-for="Age">
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                </div>
                @*<div class="form-check form-check-flat form-check-primary">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        Remember me
                    </label>
                </div>*@
                <input type="submit" class="btn btn-primary mr-2"></input>
                <a class="btn btn-light" asp-area="LOC_Student" asp-controller="LOC_Student" asp-action="StudentList">Cancel</a>
            </form>
        </div>
    </div>
</div>



@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.min.js" integrity="sha512-bztGAvCE/3+a1Oh0gUro7BHukf6v7zpzrAb3ReWAVrt+bVNNphcl2tDTKCBr5zk7iEDmQ2Bv401fX3jeVXGIcA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        function fnonStateChange() {
            var CountryId = $("#CountryId").val();
            console.log(CountryId);
            if (CountryId != 0) {
                $("#StateId").empty();
                $("#StateId").append($("<option></option>").val("").html("Select State"));
                // $("#CityId").empty();
                // $("#CityId").append($("<option></option>").val("").html("Select City"));
                $.ajax(
                    {
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "@Url.Action("DropDownByCountry", "LOC_Student")" + "?CountryId=" + CountryId,
                        date: {},
                        dataType: "json",
                        success: function (Result) {

                            $.each(Result,
                                function (key, value) {
                                    $("#StateId").append($("<option></option>").val(value.StateId).html(value.stateName));
                                });
                        },
                        error: function (r) {
                            alert("Error while loading DropDwon.");
                        }
                    });
            }
            else {
                $("#StateId").empty();
                $("#StateId").append($("<option></option>").val("").html("Select State"));
                 $("#CityId").empty();
                $("#CityId").append($("<option></option>").val("").html("Select City")); 
            }
        }

    function fnonCityChange() {
        var StateId = $("#StateId").val();
         console.log(StateId);
        if (StateId !=0) {
            $("#CityId").empty();
            $("#CityId").append($("<option></option>").val("").html("Select City"));
            $.ajax(
                {
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("DropDownByState", "LOC_Student")" + "?StateID=" + StateId,
                    date: {},
                    dataType: "json",
                    success: function (Result) {

                        $.each(Result,
                            function (key, value) {
                                $("#CityId").append($("<option></option>").val(value.CityId).html(value.cityName));
                            });
                    },
                    error: function (r) {
                        alert("Error while loading DropDwon.");
                    }
                });
        }
        else {
            @* $("#CityId").empty();
            $("#CityId").append($("<option></option>").val("").html("Select City")); *@
        }
    }
</script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}